@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-blue-600 text-white text-base py-2.5 px-6 rounded-lg hover:bg-blue-500 active:bg-blue-800 disabled:bg-gray-300 font-medium;
}

.btn-primary-large {
  @apply bg-blue-600 text-white text-xl font-medium py-3 px-8 rounded-lg hover:bg-blue-500 active:bg-blue-800 disabled:bg-gray-300;
}

.btn-secondary {
  @apply border-blue-500 border text-base text-blue-600 font-medium py-2.5 px-6 rounded-lg hover:text-blue-400 hover:border-blue-400 active:text-blue-800 active:border-blue-800 disabled:text-gray-400 disabled:border-gray-400 disabled:bg-gray-100;
}

.btn-secondary-large {
  @apply border-blue-500 border text-blue-600 text-xl font-medium py-3 px-8 rounded-lg hover:text-blue-400 hover:border-blue-400 active:text-blue-800 active:border-blue-800 disabled:text-gray-400 disabled:border-gray-400 disabled:bg-gray-100;
}

.btn-ghost {
  @apply underline text-blue-600 text-base font-bold py-0.5 px-2 hover:text-blue-400 active:text-blue-800 disabled:text-gray-400;
}

label {
  @apply text-gray-900 text-base font-medium pt-4;
}

.input-default {
  @apply border-gray-300 border rounded-lg h-11 placeholder:text-gray-700 placeholder:font-normal px-4 py-2.5 outline-none focus:placeholder:text-gray-950  focus:border-blue-600 disabled:bg-gray-200;
}

.error-massage {
  @apply text-red text-sm font-normal mt-0.5;
}

/*icon dropdown */
.icon-text-gray-hover {
  color: #9aa1b0;
}

.icon-text-gray-hover:hover .icon-dropdown,
.icon-text-gray-hover:hover .text-dropdown {
  color: #323640;
}
/*icon notification */
.icon-circle-hover {
  background-color: #f3f4f6;
}

.icon-circle-hover:hover .icon,
.icon-circle-hover:hover {
  background-color: #e6e7eb;
}

.icon-circle-hover:active .icon,
.icon-circle-hover:active {
  color: #336df2;
  background-color: #e7eeff;
}

th {
  @apply font-normal;
}

td {
  @apply font-light;
}

.border-right {
  border-right: 1px solid rgba(204, 208, 215, 1);
}

.general {
  @apply bg-blue-100 text-blue-800 rounded-lg py-1.5 px-2 my-2 text-sm;
}

.kitchen {
  @apply bg-purple-100 text-purple-900 rounded-lg py-1.5 px-2 my-2 text-sm;
}

.toilet {
  @apply bg-green-100 text-green-900 rounded-lg py-1.5 px-2 my-2 text-sm;
}

.garden {
  @apply bg-yellow-100 text-yellow-900 rounded-lg py-1.5 px-2 my-2 text-sm;
}

.box {
  @apply border border-gray-300 bg-white rounded-lg;
}

.shadow {
  @apply shadow-[8px_8px_24px_0px_rgba(23,51,106,0.12)] rounded-lg;
}

.count {
  @apply bg-white text-blue-600 w-[43px] h-[43px] rounded-lg border-blue-600 border;
}

.select-box {
  @apply text-gray-800 border border-gray-300 bg-white rounded-lg w-[48%] h-[86px]
  hover:border-blue-600 hover:text-blue-600 
  focus:bg-blue-100 focus:text-blue-600 focus:border-blue-600;
}

.present-stage {
  @apply text-blue-500 font-medium border-blue-500 bg-white;
}

.future-stage {
  @apply font-medium border-gray-300 bg-white;
}

div ~ .future-stage {
  @apply text-gray-300;
}
p ~ .future-stage {
  @apply text-gray-700;
}

.past-stage {
  @apply bg-blue-500 text-white border-2 border-blue-500;
}

.progress-icon {
  @apply border-2 rounded-full w-10 h-10 flex justify-center items-center;
}
